@import "tailwindcss";

@utility container {
  margin-inline: auto;
  padding-inline: 6rem;
  padding-top: 1rem;
}

@utility smcontainer {
  margin-inline: auto;
  padding-inline: 2rem;
  padding-top: 1rem;
}

@theme {
  --color-primary: #F5F5F5;
  --color-secondary: #22577a;
  --color-dark : #000;
  --color-light : #778da9;
  --font-roboto : "Roboto", "sans-serif";
  --font-syne : "Syne", "sans-serif";
  --font-grotesk : "Space Grotesk", "sans-serif";
  --font-lilita : "Lilita One", "sans-serif";

  --animate-textup : textup 1s ease-in-out infinite;
  @keyframes textup {
    0%{transform:translateY(0px)}
    50%{transform:translateY(20px)}
    100%%{transform:translateY(50px)}
  }

}


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
